name: Vercel Production Deployment
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
<<<<<<<< HEAD:.github/workflows/deploy-post-automation.yaml
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_POST_AUTOMATION_PROJECT_ID }}
on:
  push:
    branches:
      - post-automation
========
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_MIA_ADMIN_PROJECT_ID }}
on:
  push:
    branches:
      - master
>>>>>>>> master:.github/workflows/deploy-mia-admin.yaml
jobs:
  Deploy-Production:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
